# Basic Python Programming - Part 1

- Pengenalan Pemrograman Python 
- Input, output & comment 
- Variable, data type & caseting 
- Arithmetic operators 
- Assignment operators 
- Comparison operators 
- Logical operators 
- Identity operators 
- Membership operators

### Print

In [2]:
print("Hello World test long comment")

Hello World test long comment

In [3]:
print(10.4)

10.4

In [4]:
print(1000)

1000

In [5]:
print('ini test print')

ini test print

In [6]:
print("ini adalah string" + 123)

TypeError: can only concatenate str (not "int") to str

### Print dengan string formatting


- `%` old method, 
- `%s` formating string, 
- `%.2f` formating float 2 digit decimal, 
- `%d` formating integer 


- `'{} {}'.format()` new method,

In [7]:
print("nilai " + str(10))

nilai 10

In [8]:
print("nilai %d " % 100)

nilai 100

In [9]:
print ("nilai %d adalah integer" % 45)

nilai 45 adalah integer

In [10]:
print("nilai " + str(45) + " adalah integer")

nilai 45 adalah integer

In [11]:
print("nilai " + str(10) + " + " +str(2) + " sama dengan " + str(12))

nilai 10 + 2 sama dengan 12

In [12]:
print("nilai %d + %d sama dengan %d" % (10, 2, (10+2)))

nilai 10 + 2 sama dengan 12

In [13]:
print("jumlah %d dengan %d adalah %d" % (1, 2, 3))

jumlah 1 dengan 2 adalah 3

In [14]:
print("jumlah " + str(1) + " dengan " + str(2) + " adalah " + str(3))

jumlah 1 dengan 2 adalah 3

In [15]:
print("nilai float : %.2f" % 32.012)

nilai float : 32.01

In [16]:
print("nilai float : %d" % 32.012)

nilai float : 32

In [17]:
print("nilai float : %s" % 32.012)

nilai float : 32.012

In [18]:
print("nilai float : %f" % 32.012)

nilai float : 32.012000

In [22]:
print("nilai %s " % (100.05 + 10.003))

nilai 110.053

In [23]:
print("nilai %.4f " % (100.05001 + 10.003))

nilai 110.0530

In [ ]:
'{} {}'.format()

### Print tuple
- tuple dalam python berbentuk `(value1, value2, value3)`

In [24]:
print("nilai ", 2 + 3, " adalah bilangan ganjil")

nilai  5  adalah bilangan ganjil

In [25]:
print("hello", 13.45, "123 text")

hello 13.45 123 text

In [26]:
print(12, 10, 0.5)

12 10 0.5

In [28]:
print( "ini adalah blok 1 dengan nilai %d" % 120, 
      "ini adalah blok 2 dengan nilai %.2f " % 12.0345)

ini adalah blok 1 dengan nilai 120 ini adalah blok 2 dengan nilai 12.03

### Kometar
- pada python menggunakan tanga `#` atau `"""` untuk multiple comment

In [30]:
# ini program print , merupakan contoh single comment
# ini comment ke 2
print ("Helo World") # ini adalah komentar

"""
Multiple
Comment
in Python
.
.
ini comment lagi...
.

"""



# multiple
# comment
# menggunakan #

print("Hello World 2")

Helo World
Hello World 2

### Help & Documentation
- Gunakan `help()` dan `dir()` untuk melihat detail package yang digunakan
- contohnya kita akan coba import libraray `math`

In [31]:
import math

In [32]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [33]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [34]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [39]:
math.cos(0)

1.0

In [40]:
import time

In [41]:
help(time)

Help on built-in module time:

NAME
    time - This module provides various functions to manipulate time values.

DESCRIPTION
    There are two standard representations of time.  One is the number
    of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
    or a floating point number (to represent fractions of seconds).
    The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
    The actual value can be retrieved by calling gmtime(0).

    The other representation is a tuple of 9 integers giving local time.
    The tuple items are:
      year (including century, e.g. 1998)
      month (1-12)
      day (1-31)
      hours (0-23)
      minutes (0-59)
      seconds (0-59)
      weekday (0-6, Monday is 0)
      Julian day (day in the year, 1-366)
      DST (Daylight Savings Time) flag (-1, 0 or 1)
    If the DST flag is 0, the time is given in the regular time zone;
    if it is 1, the time is given in the DST time zone;
    if it is -1, mktime() should guess based on the date and time.

CLASSES
    builtins.tuple(builtins.object)
        struct_time

    class struct_time(builtins.tuple)
     |  struct_time(iterable=(), /)
     |
     |  The time value as returned by gmtime(), localtime(), and strptime(), and
     |  accepted by asctime(), mktime() and strftime().  May be considered as a
     |  sequence of 9 integers.
     |
     |  Note that several fields' values are not the same as those defined by
     |  the C language standard for struct tm.  For example, the value of the
     |  field tm_year is the actual year, not year - 1900.  See individual
     |  fields' descriptions for details.
     |
     |  Method resolution order:
     |      struct_time
     |      builtins.tuple
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  tm_gmtoff
     |      offset from UTC in seconds
     |
     |  tm_hour
     |      hours, range [0, 23]
     |
     |  tm_isdst
     |      1 if summer time is in effect, 0 if not, and -1 if unknown
     |
     |  tm_mday
     |      day of month, range [1, 31]
     |
     |  tm_min
     |      minutes, range [0, 59]
     |
     |  tm_mon
     |      month of year, range [1, 12]
     |
     |  tm_sec
     |      seconds, range [0, 61])
     |
     |  tm_wday
     |      day of week, range [0, 6], Monday is 0
     |
     |  tm_yday
     |      day of year, range [1, 366]
     |
     |  tm_year
     |      year, for example, 1993
     |
     |  tm_zone
     |      abbreviation of timezone name
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  n_fields = 11
     |
     |  n_sequence_fields = 9
     |
     |  n_unnamed_fields = 0
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.tuple:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __getnewargs__(self, /)
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  count(self, value, /)
     |      Return number of occurrences of value.
     |
     |  index(self, value, start=0, stop=9223372036854775807, /)
     |      Return first index of value.
     |
     |      Raises ValueError if the value is not present.

FUNCTIONS
    asctime(...)
        asctime([tuple]) -> string

        Convert a time tuple to a string, e.g. 'Sat Jun 06 16:26:11 1998'.
        When the time tuple is not present, current time as returned by localtime()
        is used.

    clock(...)
        clock() -> floating point number

        Return the CPU time or real time since the start of the process or since
        the first call to clock().  This has as much precision as the system
        records.

    ctime(...)
        ctime(seconds) -> string

        Convert a time in seconds since the Epoch to a string in local time.
        This is equivalent to asctime(localtime(seconds)). When the time tuple is
        not present, current time as returned by localtime() is used.

    get_clock_info(...)
        get_clock_info(name: str) -> dict

        Get information of the specified clock.

    gmtime(...)
        gmtime([seconds]) -> (tm_year, tm_mon, tm_mday, tm_hour, tm_min,
                               tm_sec, tm_wday, tm_yday, tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing UTC (a.k.a.
        GMT).  When 'seconds' is not passed in, convert the current time instead.

        If the platform supports the tm_gmtoff and tm_zone, they are available as
        attributes only.

    localtime(...)
        localtime([seconds]) -> (tm_year,tm_mon,tm_mday,tm_hour,tm_min,
                                  tm_sec,tm_wday,tm_yday,tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing local time.
        When 'seconds' is not passed in, convert the current time instead.

    mktime(...)
        mktime(tuple) -> floating point number

        Convert a time tuple in local time to seconds since the Epoch.
        Note that mktime(gmtime(0)) will not generally return zero for most
        time zones; instead the returned value will either be equal to that
        of the timezone or altzone attributes on the time module.

    monotonic(...)
        monotonic() -> float

        Monotonic clock, cannot go backward.

    monotonic_ns(...)
        monotonic_ns() -> int

        Monotonic clock, cannot go backward, as nanoseconds.

    perf_counter(...)
        perf_counter() -> float

        Performance counter for benchmarking.

    perf_counter_ns(...)
        perf_counter_ns() -> int

        Performance counter for benchmarking as nanoseconds.

    process_time(...)
        process_time() -> float

        Process time for profiling: sum of the kernel and user-space CPU time.

    process_time_ns(...)
        process_time() -> int

        Process time for profiling as nanoseconds:
        sum of the kernel and user-space CPU time.

    sleep(...)
        sleep(seconds)

        Delay execution for a given number of seconds.  The argument may be
        a floating point number for subsecond precision.

    strftime(...)
        strftime(format[, tuple]) -> string

        Convert a time tuple to a string according to a format specification.
        See the library reference manual for formatting codes. When the time tuple
        is not present, current time as returned by localtime() is used.

        Commonly used format codes:

        %Y  Year with century as a decimal number.
        %m  Month as a decimal number [01,12].
        %d  Day of the month as a decimal number [01,31].
        %H  Hour (24-hour clock) as a decimal number [00,23].
        %M  Minute as a decimal number [00,59].
        %S  Second as a decimal number [00,61].
        %z  Time zone offset from UTC.
        %a  Locale's abbreviated weekday name.
        %A  Locale's full weekday name.
        %b  Locale's abbreviated month name.
        %B  Locale's full month name.
        %c  Locale's appropriate date and time representation.
        %I  Hour (12-hour clock) as a decimal number [01,12].
        %p  Locale's equivalent of either AM or PM.

        Other codes may be available on your platform.  See documentation for
        the C library strftime function.

    strptime(...)
        strptime(string, format) -> struct_time

        Parse a string to a time tuple according to a format specification.
        See the library reference manual for formatting codes (same as
        strftime()).

        Commonly used format codes:

        %Y  Year with century as a decimal number.
        %m  Month as a decimal number [01,12].
        %d  Day of the month as a decimal number [01,31].
        %H  Hour (24-hour clock) as a decimal number [00,23].
        %M  Minute as a decimal number [00,59].
        %S  Second as a decimal number [00,61].
        %z  Time zone offset from UTC.
        %a  Locale's abbreviated weekday name.
        %A  Locale's full weekday name.
        %b  Locale's abbreviated month name.
        %B  Locale's full month name.
        %c  Locale's appropriate date and time representation.
        %I  Hour (12-hour clock) as a decimal number [01,12].
        %p  Locale's equivalent of either AM or PM.

        Other codes may be available on your platform.  See documentation for
        the C library strftime function.

    thread_time(...)
        thread_time() -> float

        Thread time for profiling: sum of the kernel and user-space CPU time.

    thread_time_ns(...)
        thread_time() -> int

        Thread time for profiling as nanoseconds:
        sum of the kernel and user-space CPU time.

    time(...)
        time() -> floating point number

        Return the current time in seconds since the Epoch.
        Fractions of a second may be present if the system clock provides them.

    time_ns(...)
        time_ns() -> int

        Return the current time in nanoseconds since the Epoch.

DATA
    altzone = -28800
    daylight = 0
    timezone = -25200
    tzname = ('SE Asia Standard Time', 'SE Asia Daylight Time')

FILE
    (built-in)

In [42]:
time.ctime()

'Wed Sep 16 20:06:50 2020'

### Variable
- Dapat diawali huruf atau `_` (underscore)

In [44]:
12var = 10

SyntaxError: invalid syntax (<ipython-input-44-eee42e9174c2>, line 1)

In [46]:
$value = "hello world"

SyntaxError: invalid syntax (<ipython-input-46-00deb77d2cbe>, line 1)

In [47]:
-value = "test"

SyntaxError: can't assign to operator (<ipython-input-47-e1e167c43846>, line 1)

In [48]:
__value = 10

In [49]:
_value_ = 10

In [50]:
value_a = 100

In [51]:
valueA = 100

In [52]:
FileName = "word.doc"

In [53]:
_umur = 20

In [54]:
type(_umur)

int

In [55]:
_umur = '20'

In [56]:
type(_umur)

str

In [57]:
_umur = False

In [58]:
type(_umur)

bool

In [59]:
_umur = [20, "hi", 3.14]

In [60]:
type(_umur)

list

In [61]:
_umur = set([20, "hi", 3.14])

In [62]:
type(_umur)

set

In [63]:
_umur

{20, 3.14, 'hi'}

### Casting variable atau type conversion
```
int() untuk mengubah menjadi integer;
long() untuk mengubah menjadi integer panjang;
float() untuk mengubah menjadi float;
bool() untuk mengubah menjadi boolean;
chr() untuk mengubah menjadi karakter;
str() untuk mengubah menjadi string.
bin() untuk mengubah menjadi bilangan Biner.
hex() untuk mengubah menjadi bilangan Heksadesimal.
oct() untuk mengubah menjadi bilangan okta.
```

In [64]:
_umur = 30

In [65]:
_umur

30

In [66]:
type(_umur)

int

In [67]:
_umur = str(_umur)

In [68]:
type(_umur)

str

In [69]:
_umur

'30'

In [70]:
_umur = float(_umur)

In [71]:
_umur

30.0

In [72]:
nilai = 2+3
print ("nilai " + str(nilai))

nilai 5

In [74]:
data = '10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'

data = int(data)

print(data)
print(type(data))

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

### Input 
- dapat menggunakan perintah `input()` yang akan mengembalikan data dengan tipe data string

In [4]:
data = input("input data :")

print(type(data))

input data : 1000

<class 'str'>

In [5]:
data

'1000'

In [7]:
A = input("var A :")
B = input("var B :")

C = int(A) + int(B)
print ("A + B = " + str(C))

var A : 1
var B : 2

A + B = 3

In [10]:
A = int(input("A :"))
B = int(input("B :"))

C = A + B
print ("A + B = %d" % C)

A : 12
B : 23

A + B = 35

In [12]:
A = float(input("A :"))
B = float(input("B :"))

C = A / B
print ("A + B = %.3f" % C)

A : 1.2
B : 43.21

A + B = 0.028

In [14]:
A = int(input("A :"))
B = int(input("B :"))

C = A / B
print ("A + B = %f" % C)

A : 1
B : 2

ValueError: invalid literal for int() with base 10: 'D : '

In [66]:
A = int(input("A :"))
B = int(input("B :"))

C = A / B
print ("A + B = %s" % C)

A :1
B :2
A + B = 0.5

### Import

- `import <package>`
- `from <package> import <module>`
- `from <package>.<module> import <sub_module>`
- `import <package> as <alias>`

In [15]:
import time

In [16]:
time.ctime()

'Wed Sep 16 20:37:03 2020'

In [21]:
from time import ctime

In [22]:
ctime()

'Wed Sep 16 20:38:21 2020'

In [24]:
from time import ctime as xx

In [25]:
xx()

'Wed Sep 16 20:38:48 2020'

 #### Alias yang umum digunakan :
 - `import numpy as np`
 - `import cv2`
 - `import tensorflow as tf`

### Operator Aritmatika

```
+ untuk operator penjumlahan
- untuk operator pengurangan
/ untuk operator pembagian
* untuk operator perkalian
% untuk operator modulo (hasil sisa pembagian)
** untuk operator pangkat
```

In [34]:
A = 10
B = 2

(A + 10)**B

400

In [36]:
# Ambil input untuk mengisi nilai
a = int(input("Inputkan nilai a: "))
b = int(input("Inputkan nilai b: "))

# Menggunakan operator penjumlahan
c = a + b
print ("Hasil %d + %d = %d" % (a,b,c))

Inputkan nilai a:  1
Inputkan nilai b:  10

Hasil 1 + 10 = 11

In [37]:
# Operator Pengurangan
c = a - b
print ("Hasil %d - %d = %d" % (a,b,c))

Hasil 1 - 10 = -9

In [38]:
# Operator Perkalian
c = a * b
print ("Hasil %d * %d = %d" % (a,b,c))

Hasil 1 * 10 = 10

In [40]:
# Operator Pembagian
c = a / b
print ("Hasil %d / %d = %.1f" % (a,b,c))

Hasil 1 / 10 = 0.1

In [41]:
c = a / b
print ("Hasil %d / %d = %.1f" % (a,b,c))

Hasil 1 / 10 = 0.1

In [42]:
# Operator Sisa Bagi
c = a % b
print ("Hasil %d %% %d = %d" % (a,b,c))

Hasil 1 % 10 = 1

In [43]:
# Operator Pangkat
c = a ** b
print ("Hasil %d ** %d = %d" % (a,b,c))

Hasil 1 ** 10 = 1

In [45]:
2*(3 + 5)

16

### Soal :

- Buat program input dua nilai float (a dan b), menghasilkan $c$ = $a^2 - b^2 + 4ab$
- print hasilnya

### Operator Penugasan

```
a = 1 operator penugasan mengisi nilai
a +=1 operator penugasan menambahkan 1 ke variable a
a -=1 operator penugasan mengurangkan 1 ke variable a
a *=2 operator penugasan mengalikan 2 ke variable a
a /= 2 operator penugasan membagikan 2 ke variable a
```

In [46]:
a = 8
print("nilai awal \t", a)

nilai awal 	 8

In [49]:
a += 1  
print("ditambah 1 \n", a)

ditambah 1
 11

In [50]:
a *= 2 
print("dikali 2 \t", a)

dikali 2 	 22

In [51]:
a -= 5    
print("dikurang 5 \t", a)

dikurang 5 	 17

In [52]:
a /= 2   
print("dibagi 2 \t", a)

dibagi 2 	 8.5

In [53]:
b = 31.5

b += 0.5

print(b)

32.0

In [54]:
c = True

c += False

print(c)

1

In [55]:
print(type(c))

<class 'int'>

In [56]:
c = True
print(type(c))

c += True
print(type(c))

<class 'bool'>
<class 'int'>

int

### Assignment for string

In [58]:
word = "Python"

word += " Programming"

print(word)

Python Programming

In [59]:
word = "Basic Python"

word -= "Basic"

print(word)

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

### Operator Pembanding
```
== operator pembanding "sama dengan", a == b
!= operator pembanding "tidak sama dengan", a != b
< operator pembanding "lebih kecil dari", a < b
> operator pembanding "lebih besar dari", a > b
<= operator pembanding "lebih kecil dari sama dengan", a <= b
>= operator pembanding "lebih besar dari sama dengan", a >= b
```

In [61]:
a = int(input("Inputkan nilai a: "))
b = int(input("Inputkan nilai b: "))

# apakah a sama dengan b?
c = a == b
print ("Apakah %d == %d: %r" % (a,b,c))

Inputkan nilai a:  1
Inputkan nilai b:  2

Apakah 1 == 2: False

In [62]:
# apakah a < b?
c = a < b
print ("Apakah %d < %d: %r" % (a,b,c))

Apakah 1 < 2: True

In [63]:
# apakah a > b?
c = a > b
print ("Apakah %d > %d: %r" % (a,b,c))

Apakah 1 > 2: False

In [65]:
# apakah a <= b?
a = 2
c = a <= b
print ("Apakah %d <= %d: %r" % (a,b,c))

Apakah 2 <= 2: True

In [73]:
# apakah a >= b?
a = 1
c = a >= b
print ("Apakah %d >= %d: %r" % (a,b,c))

Apakah 1 >= 2: False

In [70]:
# apakah a != b?
c = a != b
print ("Apakah %d != %d: %r" % (a,b,c))

Apakah 1 != 2: True

### Operator Logika

- Logika AND

| AND   | True  | False |
|-------|-------|-------|
| True  | True  | False |
| False | False | False |

- Logika OR

|  OR   | True  | False |
|-------|-------|-------|
| True  | True  | True  |
| False | True  | False |

- Logika Not

|       | NOT   |
|-------|-------|
| True  | False |
| False | True  |

In [74]:
a = False
b = True

In [75]:
# Logika AND
c = a and b   

print ("%r and %r = %r" % (a,b,c))

False and True = False

In [76]:
# Logika OR
c = a or b
print ("%r or %r = %r" % (a,b,c))

False or True = True

In [78]:
# Logika Not
c = not a  

print ("not %r  = %r" % (b,c))

not True  = True

## Operator Identias

| Operator  | Desc                                                      | Use        |
|-----------|-----------------------------------------------------------|------------|
| is 	    | Returns True if both variables are the same object	    | x is y     |	
| is not	| Returns True if both variables are not the same object	| x is not y |

*The **==** operator compares the values of both the operands and checks for value equality. \
Whereas **is** operator checks whether both the operands refer to the same object or not.*

In [3]:
A = '12'

B = 12

print(A is B)

False

In [79]:
A = 12

In [81]:
type(A)
help(A)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [82]:
print(A is not B)

True

In [83]:
A, B

(12, 2)

In [84]:
X = 14.5

print(type(X) is int)

False

In [85]:
print(type(X) is not int)

True

In [87]:
print(type(X) is float)

True

In [88]:
print(type(X) == float)

True

## Membership Operators

| Operator  | Desc                                                                              | Use        |
|-----------|-----------------------------------------------------------------------------------|------------|
| in 	    | Returns True if a sequence with the specified value is present in the object	    | x in y     |	
| not in	| Returns True if a sequence with the specified value is not present in the object	| x not in y |

In [92]:
A = "Hello World"

B = "Worl"

B in A

False

In [93]:
List = ["ayam", "jambu", "kucing"]

Name = "kucing"

Name in List

True

In [94]:
Name = "jeruk"

Name in List

False

In [95]:
Name not in List

True