## Basic Python - Part 3

- If , elif, & else 
- while loops 
- for loops 
- function & lambda

### Percabangan (If, elif, else)

struktur percabangan pada python :

```
if statement_1 :
    tugas_1
elif statement_2 :
    tugas_2
else :
    tugas_3
    
if (statement){
    task1
    task2
}

```

- Struktur If

In [127]:
lulus = input("Apakah kamu lulus? [ya/tidak]: ")

if lulus == "tidak":
    print("Kamu harus ikut ujian")

print("ini task 2")

Apakah kamu lulus? [ya/tidak]:  tidak

Kamu harus ikut ujian
ini task 2

In [1]:
nilai = int(input("Input nilai: "))

if nilai < 70:
    print("Nilai dibawah KKM : %d" % nilai)

Input nilai:  65

Nilai dibawah KKM : 65

In [2]:
print("Cek kriteria lamaran kerja")

umur = int(input("Umur : "))
tinggi = int(input("Tinggi badan : "))

if umur < 30 and tinggi > 165:
    print("Umur %d dan tinggi badan %d, memenuhi kriteria." % (umur, tinggi))

Cek kriteria lamaran kerja

Umur :  27
Tinggi badan :  267

Umur 27 dan tinggi badan 267, memenuhi kriteria.

In [1]:
print("Check Password")

password = input("password : ")

if len(password) <= 8:
    print("Password minimal 8 karakter!")
if password == 'admin':
    print("Password tidak boleh terlalu mudah")

Check Password

password :  admin

Password minimal 8 karakter!
Password tidak boleh terlalu mudah

- Struktur if & else

In [4]:
umur = int(input("Berapa umur kamu: "))
if umur >= 18:
    print("Kamu boleh membuat SIM")
else:
    print("Kamu belum boleh membuat SIM")

Berapa umur kamu:  17

Kamu belum boleh membuat SIM

In [5]:
print("Cek kriteria lamaran kerja")

umur = int(input("Berapa umur kamu: "))
tinggi = int(input("Tinggi badan : "))

if umur < 30 and tinggi > 165:
    print("Umur %d dan tinggi badan %d, memenuhi kriteria." % (umur, tinggi))
else :
    print("Umur %d dan tinggi badan %d, tidak memenuhi kriteria." % (umur, tinggi))

Cek kriteria lamaran kerja

Berapa umur kamu:  30
Tinggi badan :  170

Umur 30 dan tinggi badan 170, tidak memenuhi kriteria.

- Struktur if , elif & else

In [8]:
print("Cek Kualitas Suhu")

suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
elif suhu < 30 :
    print("suhu hangat")
else :
    print("suhu panas")

Cek Kualitas Suhu

suhu sekarang :  31

suhu panas

- tanpa menggunakan elif

In [1]:
print("Cek Kualitas Suhu")

suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
if suhu < 30 :
    print("suhu hangat")
else :
    print("suhu panas")

Cek Kualitas Suhu

suhu sekarang :  17

suhu dingin
suhu hangat

- Mengunakan operator pembanding

In [3]:
print("Cek Kualitas Suhu")

suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
if suhu >= 25 and suhu < 30 :
    print("suhu hangat")
if suhu >= 30 :
    print("suhu panas")

Cek Kualitas Suhu

suhu sekarang :  27

suhu hangat

In [19]:
# Task
# Buat program untuk menghitung nilai siswa
# 90 - 100 = A
# 80 - 89 = B+
# 70 - 79 = B
# 60 - 69 = C+
# 50 - 59 = C
# 40 - 49 = D
# 0 - 39 = E

___

- Jawaban soal

In [8]:
print("Cek Nilai Kualitatif")

nilai = int(input("Inputkan nilaimu: "))

if nilai > 100:
    print("nilai invalid")
elif nilai >= 90:
    grade = "A"
    print("Grade: %s" % grade)
elif nilai >= 80:
    grade = "B+"
    print("Grade: %s" % grade)
elif nilai >= 70:
    grade = "B"
    print("Grade: %s" % grade)
elif nilai >= 60:
    grade = "C+"
    print("Grade: %s" % grade)
elif nilai >= 50:
    grade = "C"
    print("Grade: %s" % grade)
elif nilai >= 40:
    grade = "D"
    print("Grade: %s" % grade)
elif nilai >= 0:
    grade = "E"
    print("Grade: %s" % grade)
else :
    print("nilai negative invalid")

Cek Nilai Kualitatif

Inputkan nilaimu:  -10

nilai negative invalid

In [9]:
print("Cek Nilai Kualitatif")

nilai = int(input("Inputkan nilaimu: "))

if nilai >= 90:
    grade = "A"
if nilai >= 80:
    grade = "B+"
if nilai >= 70:
    grade = "B"
if nilai >= 60:
    grade = "C+"
if nilai >= 50:
    grade = "C"
if nilai >= 40:
    grade = "D"
else:
    grade = "E"

print("Grade: %s" % grade)

Cek Nilai Kualitatif

Inputkan nilaimu:  75

Grade: D

### Perbedaan multiple if statement dan elif statement

- jika multiple `if` statment maka program akan cek **semua if statement** (tidak ada yang terlewatkan) dan bisa jadi semua instruksi bisa dilakukan jika memang memnuhi kondisi semua multiple if statement. 


- Namun jika `elif` statement **tidak semua dicek** (bisa semua/bisa tidak), program akan cek semua kondisi jika program masih belum menemukan yang sesuai, namun **jika ada yang sesuai** maka program akan langsung **keluar dari statement pecabangan**.

- Menggunakan operator membership pada statement if

In [10]:
print ("Cek mata kuliah IT")

nama = input("nama mata kuliah :")

list_matkul = ['database', 'algoritma', 'sistem pakar', 'pemrograma web']

if nama in list_matkul :
    print("%s merupakan mata kuliah IT" % nama)
else :
    print("%s bukan mata kuliah IT" % nama)

Cek mata kuliah IT

nama mata kuliah : kimia

kimia bukan mata kuliah IT

if nama == 'database' or nama == 'algoritma' ...

In [12]:
print("Cek Makanan sehat")

nama = input("nama makanan : ")

list_makanan_tidak_sehat = ['soda', 'burger', 'gorengan', 'permen']

if nama not in list_makanan_tidak_sehat :
    print("%s merupakan makanan sehat" % nama)
else :
    print("%s merupakan makanan tidak sehat" % nama)

Cek Makanan sehat

nama makanan :  jeruk

jeruk merupakan makanan sehat

- nested if

```
if statement :
    task
    if statement :
        task
     else :
        task

```

In [15]:
nama = input("Nama :")
gender = input("Jenis kelamin [L/P] : ")

if gender == 'L':
    hobby = input("Hobby : ")
    if hobby in ['Game', 'Futsal', 'Design', 'Musik']:
        print("%s anda memiliki hobi yang banyak disukai laki-laki" % nama)
    else :
        print("%s anda memiliki hobi yang unik" % nama)
else :
    hobby = input("Hobby : ")
    if hobby in ['Fashion', 'Cooking', 'Photography']:
        print("%s anda memiliki hobi yang banyak disukai perempuan" % nama)

Nama : yuni
Jenis kelamin [L/P] :  P
Hobby :  Cooking

yuni anda memiliki hobi yang banyak disukai perempuan

### Perulangan mengunakan for

- perulangan pada pemrograman python hanya mengimplementasikan *collection-based iteration*, 
- sehingga sebuah perulangan bisa dilakukan jika kita memiliki **iterable** object di python

```
for <var> in <iterable>:
    <task(s)>

```

- Iterable pada python adalah object dalam bentuk `string`, `list`, `tuple`, `dictionary`, `set`

- contoh bentuk perulangan dari iterator `list`

In [20]:
myList = [1, 2, 3, 4, 5, 6, 7, 8]

print(type(myList))

for i in myList :
    print ("item", i+2)

<class 'list'>
item 3
item 4
item 5
item 6
item 7
item 8
item 9
item 10

- contoh bentuk perulangan dari iterator `tuple`

In [21]:
myTuple = ('satu', 'dua', 'tiga', 'empat', 'lima')

print(type(myTuple))

for item in myTuple :
    print ("item", item)

<class 'tuple'>
item satu
item dua
item tiga
item empat
item lima

- contoh bentuk perulangan dari iterator `set`

In [22]:
mySet = {'satu', 'dua', 'tiga'}

print(type(mySet))

for item in mySet :
    print ("item", item)

<class 'set'>
item dua
item satu
item tiga

- contoh bentuk perulangan dari iterator `dictionary`

In [23]:
myDict = {'key 1': "value 1", 
          'key 2': "value 2", 
          'key 3': "value 3"}

print(type(myDict))

for item in myDict :
    print ("item", item)

<class 'dict'>
item key 1
item key 2
item key 3

In [24]:
myDict = {'satu': 1, 'dua': 2, 'tiga': 3}
myDict.values()

dict_values([1, 2, 3])

In [28]:
myDict = {'satu': 1, 'dua': 2, 'tiga': 3}

print(type(myDict))

for item in myDict.values() :
    print ("item", item)

<class 'dict'>
item 1
item 2
item 3

In [29]:
myDict = {'satu': 1, 'dua': 2, 'tiga': 3}

print(type(myDict))

for key in myDict :
    print (key, myDict[key])

<class 'dict'>
satu 1
dua 2
tiga 3

In [30]:
angka = [1, 2, 3, 4, 5, 6, 7, 8]

for item in angka :
    hasil = item*2 + 4
    print ("%d * 2 + 4  = %d" %(item, hasil))

1 * 2 + 4  = 6
2 * 2 + 4  = 8
3 * 2 + 4  = 10
4 * 2 + 4  = 12
5 * 2 + 4  = 14
6 * 2 + 4  = 16
7 * 2 + 4  = 18
8 * 2 + 4  = 20

In [36]:
3 * " * "

' *  *  * '

In [37]:
angka = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in angka :
    print("*" * i )

*
**
***
****
*****
******
*******
********
*********

In [41]:
angka = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in angka :
    print("*" * (len(angka) - i ) )

**********
*********
********
*******
******
*****
****
***
**
*

In [73]:
angka = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in angka :
    print(" "* (len(angka) - i) + "*" *i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [72]:
# task 2
#buat perulangan for agar hasilnya sebagai berikut

#**********
# *********
#  ********
#   *******
#    ******
#     *****
#      ****
#       ***
#        **
#         *

In [42]:
angka = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in angka:
    print(" " * i + "*" * ( len(angka) - i))

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

- menggunakan if dalam for

In [43]:
angka = [1, 2, 3, 4, 5, 6, 7, 8]

for item in angka :
    if item % 2 == 0:
        print ("%d adalah genap" % item)
    else :
        print ("%d adalah ganjil" % item)

1 adalah ganjil
2 adalah genap
3 adalah ganjil
4 adalah genap
5 adalah ganjil
6 adalah genap
7 adalah ganjil
8 adalah genap

- for didalam for

In [46]:
angka = [1, 2, 3]

for i in angka :
    for j in angka :
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [49]:
list2D = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

for row in list2D :
    for item in row :
        print(item)

1
2
3
4
5
6
7
8
9

In [50]:
list2D = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

for row in list2D :
    for item in row :
        if item%2 == 0:
            print ("%d adalah genap" % item)
        else :
            print ("%d adalah ganjil" % item)

1 adalah ganjil
2 adalah genap
3 adalah ganjil
4 adalah genap
5 adalah ganjil
6 adalah genap
7 adalah ganjil
8 adalah genap
9 adalah ganjil

In [51]:
users = [
    {
        'name' : 'john',
        'age'  : 27,
        'job'  : 'engineer'
    },
    {
        'name' : 'budi',
        'age'  : 30,
        'job'  : 'guru'
    },
    {
        'name' : 'sasa',
        'age'  : 24,
        'job'  : 'mahasiswi'
    }
]

In [52]:
for user in users :
    print(user)

{'name': 'john', 'age': 27, 'job': 'engineer'}
{'name': 'budi', 'age': 30, 'job': 'guru'}
{'name': 'sasa', 'age': 24, 'job': 'mahasiswi'}

In [53]:
for user in users :
    for key in user :
        print("%s \t : %s" % (key, user[key]))
    print("--------------")

name 	 : john
age 	 : 27
job 	 : engineer
--------------
name 	 : budi
age 	 : 30
job 	 : guru
--------------
name 	 : sasa
age 	 : 24
job 	 : mahasiswi
--------------

### Perulangan menggunakan while

- struktur dasar,

```
while <condition>:
    <do something..>
```

In [54]:
i = 0
while i <= 5 :
    print("loop ke-", i)
    i +=1

loop ke- 0
loop ke- 1
loop ke- 2
loop ke- 3
loop ke- 4
loop ke- 5

In [2]:
data = input("ya/tidak")

while data == 'ya':
    print(data)
    data = input("ya/tidak")
    print(data)

ya/tidak ya

ya

ya/tidak ya

ya
ya

ya/tidak ya

ya
ya

ya/tidak tidak

tidak

In [3]:
i = 0
while i <= 5 :
    print("loop ke-", i)
    i +=1
else :
    print("loop selesai")

loop ke- 0
loop ke- 1
loop ke- 2
loop ke- 3
loop ke- 4
loop ke- 5
loop selesai

In [4]:
data = input("ya/tidak")

while data == 'ya':
    print(data)
    data = input("ya/tidak")
    print(data)
else :
    print("loop dihentikan karena bernilai `tidak`")

ya/tidak ya

ya

ya/tidak ya

ya
ya

ya/tidak ya

ya
ya

ya/tidak tidak

tidak
loop dihentikan karena bernilai `tidak`

In [6]:
nama = input("input nama :")

while nama in ["budi", "yuni", "vica", "rudi"]:
    print ("%s ada pada list nama" % nama)
    
    nama = input("input nama :")
else :
    print ("%s tidak ada pada list nama" % nama)

input nama : budi

budi ada pada list nama

input nama : vica

vica ada pada list nama

input nama : rudi

rudi ada pada list nama

input nama : roni

roni tidak ada pada list nama

In [1]:
nama = input("input nama :")

list_nama = ["budi", "yuni", "vica", "rudi"]

i = 0
while i < 10:
    if nama in list_nama :
        print ("%s ada pada list nama" % nama)
    else :
        print ("%s tidak ada pada list nama" % nama)
    
    nama = input("input nama :")
    i += 1

input nama : hany

hany tidak ada pada list nama

input nama : rudi

rudi ada pada list nama

input nama : vica

vica ada pada list nama

input nama : yuni

yuni ada pada list nama

input nama : budi

budi ada pada list nama

input nama : hasbi

hasbi tidak ada pada list nama

input nama : aska

aska tidak ada pada list nama

input nama : yunus

yunus tidak ada pada list nama

input nama : tono

tono tidak ada pada list nama

input nama : kartika

kartika tidak ada pada list nama

input nama : yanti

### fungsi range() 
- fungsi `range` digunakan untuk menghasilkan *sequence* angka

In [2]:
A = range(20)

print(type(A))
print(list(A))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kita dapat gunakan :


+ fungsi `list()` untuk convert object `range` menjadi list
+ fungsi `set()` untuk convert object `range` menjadi set
+ fungsi `tuple()` untuk convert object `range` menjadi tuple

In [3]:
B = list(A)

print(B, type(B))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19] <class 'list'>

In [4]:
B = set(A)

print(B, type(B))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19} <class 'set'>

In [5]:
B = tuple(A)

print(B, type(B))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19) <class 'tuple'>

### mengunakan range() pada perulangan for

In [6]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [7]:
for i in range(15):
    print ("iterasi ke-", i)

iterasi ke- 0
iterasi ke- 1
iterasi ke- 2
iterasi ke- 3
iterasi ke- 4
iterasi ke- 5
iterasi ke- 6
iterasi ke- 7
iterasi ke- 8
iterasi ke- 9
iterasi ke- 10
iterasi ke- 11
iterasi ke- 12
iterasi ke- 13
iterasi ke- 14

In [8]:
list( range(2, 15))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [66]:
for i in range(2, 15):
    print ("iterasi ke-", i)

iterasi ke- 2
iterasi ke- 3
iterasi ke- 4
iterasi ke- 5
iterasi ke- 6
iterasi ke- 7
iterasi ke- 8
iterasi ke- 9
iterasi ke- 10
iterasi ke- 11
iterasi ke- 12
iterasi ke- 13
iterasi ke- 14

In [9]:
for i in range(2, 15, 4):
    print ("iterasi ke-", i)

iterasi ke- 2
iterasi ke- 6
iterasi ke- 10
iterasi ke- 14

### Function pada Python

```
def function_name():
    task1
    task2
    
def function_name()
    task1
    task2
    return data
```

In [10]:
def hitung(a, b):
    c = a + b
    return c

In [11]:
hasil = hitung(5,4)

print("hasilnya adalah %d" % hasil)

hasilnya adalah 9

In [12]:
def cek_nilai(nilai):
    if nilai >= 90:
        grade = "A"
    elif nilai >= 80:
        grade = "B+"
    elif nilai >= 70:
        grade = "B"
    elif nilai >= 60:
        grade = "C+"
    elif nilai >= 50:
        grade = "C"
    elif nilai >= 40:
        grade = "D"
    else:
        grade = "E"

    print("Grade: %s" % grade)
    
    
print("Cek Nilai Kualitatif")

nilai = int(input("Inputkan nilaimu: "))

cek_nilai(nilai)

Cek Nilai Kualitatif

Inputkan nilaimu:  76

Grade: B

In [14]:
    
print("Cek Nilai Kualitatif")

nilai = int(input("Inputkan nilaimu: "))

cek_nilai(nilai)

Cek Nilai Kualitatif

Inputkan nilaimu:  97

Grade: A

- default value pada function & multiple return

In [15]:
def hitung(a, b, operasi='tambah'):
    if operasi == 'tambah':
        return a + b
    elif operasi == 'kali' :
        return a * b
    elif operasi == 'kurang' :
        return a - b

hitung(2, 5, 'kali')

10

In [16]:
hitung(2, 5, 'kurang')

-3

In [17]:
hitung(2, 5)

7

In [18]:
hitung(2, 5, 'tambah')

7

### Lambda function (define function anonymouse)

In [99]:
x = lambda a : a + 10
print(x(5))

15

In [100]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [111]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [112]:
output = lambda a : a in [1, 2, 3, 4]

In [113]:
output(4)

True

In [115]:
data = int(input("input nilai :"))
if output(data) :
    print("%d ada pada list nilai" % data)
else :
    print("%d tidak ada pada list nilai" % data)

input nilai : 31

31 tidak ada pada list nilai

In [116]:
myList = [1, 2, 3, 4]
myFunction = lambda a, b: a in myList and b in myList

In [117]:
myFunction(1, 2)

True

In [118]:
myFunction(21, 2)

False