# Python Data Structure

### Primitive
- Integer
- String
- Float
- Boolean

### Non Primitive
- List
- Tuple
- Set
- Dictionary

____


### List

Explore data struktur list

`[item1, item2, item3, item4, ...]`

In [1]:
myList = [0, 10, 41.5, "hello world", False]

In [2]:
type(myList)

list

In [3]:
dir(myList)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
help(myList.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

#### Sifat Struktur Data List :
- heterogen

In [8]:
# beragam struktur data
myList = [ 10, 'hello', 14.5, False, [1, 3, 4]]

- akses seluruh elemen list

In [9]:
print(myList)

[10, 'hello', 14.5, False, [1, 3, 4]]

- akses 1 elemen pada list
- menggunakan positive index (dimulai dari index = 0 dari sisi kiri ujung)

In [10]:
myList[4]

[1, 3, 4]

In [11]:
myList[0]

10

In [12]:
myList[7]

IndexError: list index out of range

- menggunakan negative index (dimulai dari index = -1 dari sisi kanan ujung)

In [13]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

In [14]:
myList[-1]

[1, 3, 4]

In [15]:
myList[-5]

10

In [16]:
myList[-7]

IndexError: list index out of range

- slicing pada list dengan menggunakan `myList[start_index : stop_index]`

In [18]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

In [21]:
myList[3:5]

[False, [1, 3, 4]]

In [22]:
# jika start index tidak di define maka start_index = 0
myList[:4]

[10, 'hello', 14.5, False]

In [23]:
myList[:-1]

[10, 'hello', 14.5, False]

In [26]:
myList[-4:-2]

['hello', 14.5]

In [27]:
# jika stop index tidak di define maka stop_index = maximum index pada list
myList[3:]

[False, [1, 3, 4]]

In [28]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

In [30]:
# kombinasi positive index dan negative index
myList[1:-1]

['hello', 14.5, False]

In [32]:
# menggunakan index diluar jangkauan list
myList[:7]

[10, 'hello', 14.5, False, [1, 3, 4]]

- start_index < stop_index (positive index/negative index)
- jika start index >= stop index , result list = []

In [35]:
myList[-3: -5]

[]

In [36]:
myList[4:1]

[]

In [37]:
myList[-3:-10]

[]

In [38]:
myList[:0]

[]

In [39]:
# menggunakan `:` tanpa mendefinisikan start dan stop index maka list akan di ambil seluruhnya
myList[:]

[10, 'hello', 14.5, False, [1, 3, 4]]

In [40]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

- mengakses elemen list dalam list

In [41]:
# blok list terluar ditulis lebih dulu, diikuti blok list didalamnya,
myList[4]

[1, 3, 4]

In [42]:
myList[4][0]

1

In [43]:
myList[4][1:]

[3, 4]

In [44]:
myList[4][:-1]

[1, 3]

In [45]:
new_list = [1, 0.5, [11, ['hello', True, 1], 'test']]

In [46]:
# coba keluarkan item `hello`, `True`

- list bersifat **mutable**, sehingga kita bisa **reassign** dan **delete** elemen list

In [47]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

In [48]:
myList[0] = 21

In [49]:
myList

[21, 'hello', 14.5, False, [1, 3, 4]]

- Value pada list yang reassign tidak harus satu tipe data

In [50]:
myList[3] = "Ganti ke string"

In [51]:
myList

[21, 'hello', 14.5, 'Ganti ke string', [1, 3, 4]]

In [52]:
myList[3] = False

In [53]:
myList

[21, 'hello', 14.5, False, [1, 3, 4]]

- Reassign multiple item (list) dengan menggunakan slice
- dimensi slice dengan list yang diinputkan sama

In [54]:
myList[0:2] = [33, 'world']

In [55]:
myList

[33, 'world', 14.5, False, [1, 3, 4]]

In [56]:
myList[0:2] = [False, 'hello']

In [57]:
myList

[False, 'hello', 14.5, False, [1, 3, 4]]

- dimensi yang diinputkan beda, 
- dimensi slice < dimensi list input

In [58]:
myList[0:2] = [33, 'world', 0, True]

In [60]:
myList

[33, 'world', 0, True, 14.5, False, [1, 3, 4]]

- dimensi slice > dimensi list input

In [61]:
myList[0:4] = [10, 'hello']

In [62]:
myList

[10, 'hello', 14.5, False, [1, 3, 4]]

- delete item pada list
- item dengan index diatasnya akan mengisi index yang dihapus

In [63]:
del myList[0]

myList

['hello', 14.5, False, [1, 3, 4]]

- value `10` di remove, item `'hello'` menempati index 0, sebelumnya index 1, diikuti item lainya

- delete menggunakan slice

In [64]:
del myList[0:2]

myList

[False, [1, 3, 4]]

In [68]:
del myList[7]

IndexError: list assignment index out of range

In [69]:
del myList[4:7]

In [70]:
myList

[False, [1, 3, 4]]

#### Builtin function pada List

In [71]:
help(myList.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

- builtin function pada list :

`append`, `clear`, `copy`, `count`, `extend`, `index`, `insert`, `pop`, `remove`, `reverse`, `sort`

- `append` : menambahkan item kedalam list, 
- posisi item yang ditambahkan pada list menempati index paling akhir

In [72]:
myList = [False, [1, 3, 4], (1, 2, 4), 2, 3]

In [73]:
myList.append(3)

In [74]:
myList

[False, [1, 3, 4], (1, 2, 4), 2, 3, 3]

In [75]:
myList.append('hello')

In [76]:
myList

[False, [1, 3, 4], (1, 2, 4), 2, 3, 3, 'hello']

In [77]:
myList.append(4, 2)

TypeError: append() takes exactly one argument (2 given)

In [78]:
myList.append(['test', 'append'])

In [79]:
myList

[False, [1, 3, 4], (1, 2, 4), 2, 3, 3, 'hello', ['test', 'append']]

In [81]:
# bagaimana caranya agar output seperti ini 
# [False, [1, 3, 4], (1, 2, 4), 2, 3, 3, 'hello', ['test', 'append', 13]]

myList[7].append(13)

In [82]:
myList

[False, [1, 3, 4], (1, 2, 4), 2, 3, 3, 'hello', ['test', 'append', 13]]

In [83]:
# bagaimana caranya agar output seperti ini 
# [False, [1, 3, 4, 'python'], (1, 2, 4), 2, 3, 3, 'hello', ['test', 'append', 13]]

myList[1].append('python')

In [84]:
myList

[False,
 [1, 3, 4, 'python'],
 (1, 2, 4),
 2,
 3,
 3,
 'hello',
 ['test', 'append', 13]]

- `count` : menghitung banyaknya item pada list dengan nilai yang diberikan

In [86]:
# mencari banyaknya item dengan nilai `14.5` pada list
myList.count('hello')

1

In [87]:
myList.append('hello')

In [88]:
myList

[False,
 [1, 3, 4, 'python'],
 (1, 2, 4),
 2,
 3,
 3,
 'hello',
 ['test', 'append', 13],
 'hello']

In [89]:
myList.count('hello')

2

- `insert` : menambahkan item kedalam list pada index tertentu

In [90]:
# menambahkan item = 3.14 kedalam list pada index = 1
myList.insert(1, 3.14)

myList

[False,
 3.14,
 [1, 3, 4, 'python'],
 (1, 2, 4),
 2,
 3,
 3,
 'hello',
 ['test', 'append', 13],
 'hello']

- List yang menempati posisi yang diinsert akan terdorong ke-kanan,

- jika index pada `insert` > banyaknya index pada list, 
- maka item yang ditambahkan akan disimpan di akhir list

In [92]:
myList.insert(100, 'test out of range')

myList

['test out of range',
 False,
 3.14,
 [1, 3, 4, 'python'],
 (1, 2, 4),
 2,
 3,
 3,
 'hello',
 ['test', 'append', 13],
 'hello',
 'test out of range']

In [93]:
myList.insert(-79, 'test out of range')

myList

['test out of range',
 'test out of range',
 False,
 3.14,
 [1, 3, 4, 'python'],
 (1, 2, 4),
 2,
 3,
 3,
 'hello',
 ['test', 'append', 13],
 'hello',
 'test out of range']

In [94]:
myList = [False, 3.14, [1, 3, 4], (1, 2, 4), 2, 3, 3.14]

- `index` : mencari posisi item pada list, 
- jika lebih dari satu item ditemukan pada list, maka yang dikembalikan adalah yang pertama ditemukan

In [97]:
myList.index(False)

0

In [96]:
myList.index(3.14)

1

- mencari ukuran list

In [98]:
len(myList)

7

___

### Struktur Data Tuple

- `(item1, item2, item3, ...)`

In [114]:
myTuple = (10, 'hello', 14.5, False, [1, 3, 4], (1, 2, 4))

In [100]:
type(myTuple)

tuple

In [101]:
dir(myTuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [102]:
help(myTuple.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

- heterogen tapi **immutable** item (item tidak dapat di **reassign** atau di **delete**)

In [103]:
myTuple[0] = 23

TypeError: 'tuple' object does not support item assignment

In [104]:
del myTuple[3]

TypeError: 'tuple' object doesn't support item deletion

- tuple packing

In [105]:
myTuple = 4, 10, 8

In [106]:
type(myTuple)

tuple

In [107]:
myTuple

(4, 10, 8)

- tuple unpacking

In [109]:
x, y, z = myTuple

In [110]:
x

4

In [111]:
y

10

In [112]:
z

8

- builtin function pada tuple

In [117]:
myTuple

(10, 'hello', 14.5, False, [1, 3, 4], (1, 2, 4))

In [116]:
myTuple.count(False)

1

In [119]:
myTuple[5].count(2)

1

In [120]:
myTuple[4][1:3]

[3, 4]

In [123]:
myTuple.index("XYZ")

ValueError: tuple.index(x): x not in tuple

In [124]:
len(myTuple)

6

### Struktur Data Set

- `{ item1. itm2, item3, ...}`

In [131]:
mySet = {1, 3, 'hello world', 2, 3, 1, 'zombie', 5}

In [130]:
# gak bisa diisi set, list ataupun tuple
mySet = {1, 3, 'hello world', 2, 3, 1, 'zombie', 5, {1, 4, 5, 5, 'hello', False}}

TypeError: unhashable type: 'set'

In [132]:
type(mySet)

set

In [133]:
dir(mySet)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

- tidak menyimpan data duplikat
- auto sorting alfanumeric
- heterogen tapi **immutable** item (item tidak dapat di **reassign** atau di **delete**)

In [145]:
mySet = {1, 3, 'hello world', 2, 3, 1, 'zombie', 5}

In [146]:
mySet

{1, 2, 3, 5, 'hello world', 'zombie'}

In [136]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [137]:
del mySet[0]

TypeError: 'set' object doesn't support item deletion

In [138]:
mySet[0] = 5

TypeError: 'set' object does not support item assignment

- set support built in function `discard()`, `pop()`, `clear()`, `remove()`, `add()`, `len()`, dan `max()`

In [147]:
mySet.add(7)

mySet

{1, 2, 3, 5, 7, 'hello world', 'zombie'}

In [148]:
mySet.pop()

1

In [149]:
mySet

{2, 3, 5, 7, 'hello world', 'zombie'}

In [151]:
mySet.remove(5)

In [152]:
mySet

{2, 3, 7, 'hello world', 'zombie'}

In [153]:
mySet.remove(5)

KeyError: 5

In [154]:
mySet

{2, 3, 7, 'hello world', 'zombie'}

In [155]:
len(mySet)

5

### Structure Data Dictionary

- `{` \
    `key1 : value1,` \
    `key2 : value2,` \
    `dst..` \
    `}`
- berpasangan dalam bentuk key-value

In [199]:
myDictionary = {
    "key 1"    : 10,
    "key 2"    : 13.5,
    "data"     : "Hello World",
    "list_key" : [1, "hello", 3.4, True],
    "dict lv2" : {
        "key 1" : 23.5,
        "data"  : False
    },
    10         : "hi",
    14.77      : False
}

In [157]:
type(myDictionary)

dict

In [158]:
dir(myDictionary)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- show all element in dictionary

In [159]:
myDictionary

{'key 1': 10,
 'key 2': 13.5,
 'data': 'Hello World',
 'list_key': [1, 'hello', 3.4, True],
 'dict lv2': {'key 1': 23.5, 'data': False},
 10: 'hi',
 14.77: False}

- access value by key in dictionary

In [160]:
myDictionary['key 2']

13.5

In [161]:
myDictionary['list_key']

[1, 'hello', 3.4, True]

In [162]:
myDictionary[14.77]

False

- change value by key in dictionary

In [163]:
myDictionary['data'] = "Hello World Update!"

In [164]:
myDictionary

{'key 1': 10,
 'key 2': 13.5,
 'data': 'Hello World Update!',
 'list_key': [1, 'hello', 3.4, True],
 'dict lv2': {'key 1': 23.5, 'data': False},
 10: 'hi',
 14.77: False}

- delete item in dictionary by key

In [165]:
del myDictionary['key 2']

In [166]:
myDictionary

{'key 1': 10,
 'data': 'Hello World Update!',
 'list_key': [1, 'hello', 3.4, True],
 'dict lv2': {'key 1': 23.5, 'data': False},
 10: 'hi',
 14.77: False}

In [167]:
myDictionary['list_key'][1:3]

['hello', 3.4]

In [169]:
myDictionary['dict lv2']['data']

False

In [170]:
custom_dict = [
    {
        'nama' : 'john',
        'umur' : 30
    },
        {
        'nama' : 'budi',
        'umur' : 50
    },
        {
        'nama' : 'handoko',
        'umur' : 45
    }
]

In [175]:
print("umur " + custom_dict[1]['nama'] + " adalah " + str(custom_dict[1]['umur']))

umur budi adalah 50

- built in function pada dictionary

In [176]:
len(myDictionary)

6

- `get()` : mengambil value pada dictionary berdasarkan key

In [177]:
myDictionary.get('key 1')

10

In [178]:
myDictionary.get('data')

'Hello World Update!'

- dengan menggunakan `get()` jika key tidak ditemukan pada dictionary, hasilnya tidak error,

In [181]:
myDictionary.get('not_found')

In [180]:
myDictionary['not_found']

KeyError: 'not_found'

- mengambil semua key pada dictionary sebagai list

In [182]:
myDictionary.keys()

dict_keys(['key 1', 'data', 'list_key', 'dict lv2', 10, 14.77])

- mengambil semua value pada dictionary sebagai list

In [183]:
myDictionary.values()

dict_values([10, 'Hello World Update!', [1, 'hello', 3.4, True], {'key 1': 23.5, 'data': False}, 'hi', False])

- akses sub dictionary,
- blok pertama merupakan dictionary paling luar, blok setelahnya adalah dictionary yang ada didalam

In [184]:
myDictionary['dict lv2']

{'key 1': 23.5, 'data': False}

In [185]:
myDictionary['dict lv2']['key 1']

23.5

### Structure Convertion

- `set()`, `list()`, `tuple()`, `dictionary()`

In [188]:
myList = [1, 2, 2, 'hello', True, 4, 5]

In [192]:
type(myList)

list

In [189]:
mySet = set(myList)

In [190]:
mySet

{1, 2, 4, 5, 'hello'}

In [191]:
type(mySet)

set

In [193]:
myTuple = tuple(myList)

In [194]:
type(myTuple)

tuple

In [195]:
myTuple

(1, 2, 2, 'hello', True, 4, 5)

In [198]:
myDict = dict(mySet)

TypeError: cannot convert dictionary update sequence element #0 to a sequence